neodent/fluigfiles/ecmfiles/Web References/ECMDocService/DocumentServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.dm.webdesk.technology.datasul.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://jaxb.dev.java.net/array" name="DocumentServiceService" targetNamespace="http://ws.dm.webdesk.technology.datasul.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.dm.webdesk.technology.datasul.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="documentApprovementHistoryDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="approvementDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="colleagueId" type="xs:string" />
          <xs:element name="documentVersion" type="xs:int" />
          <xs:element name="iterationSequence" type="xs:int" />
          <xs:element name="levelId" type="xs:int" />
          <xs:element name="movementSequence" type="xs:int" />
          <xs:element minOccurs="0" name="observation" type="xs:string" />
          <xs:element name="signed" type="xs:boolean" />
          <xs:element name="status" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="documentApprovalStatusDto">
        <xs:sequence>
          <xs:element name="companyId" type="xs:long" />
          <xs:element name="documentId" type="xs:int" />
          <xs:element name="status" type="xs:int" />
          <xs:element name="version" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="documentDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="accessCount" type="xs:int" />
          <xs:element minOccurs="0" name="activeUserApprover" type="xs:boolean" />
          <xs:element minOccurs="0" name="activeVersion" type="xs:boolean" />
          <xs:element minOccurs="0" name="additionalComments" type="xs:string" />
          <xs:element minOccurs="0" name="allowMuiltiCardsPerUser" type="xs:boolean" />
          <xs:element minOccurs="0" name="approvalAndOr" type="xs:boolean" />
          <xs:element minOccurs="0" name="approved" type="xs:boolean" />
          <xs:element minOccurs="0" name="approvedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="articleContent" type="xs:string" />
          <xs:element minOccurs="0" name="atualizationId" type="xs:int" />
          <xs:element minOccurs="0" name="backgroundColor" type="xs:string" />
          <xs:element minOccurs="0" name="backgroundImage" type="xs:string" />
          <xs:element minOccurs="0" name="bannerImage" type="xs:string" />
          <xs:element minOccurs="0" name="cardDescription" type="xs:string" />
          <xs:element minOccurs="0" name="colleagueId" type="xs:string" />
          <xs:element minOccurs="0" name="colleagueName" type="xs:string" />
          <xs:element name="companyId" type="xs:long" />
          <xs:element minOccurs="0" name="crc" type="xs:long" />
          <xs:element minOccurs="0" name="createDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="datasetName" type="xs:string" />
          <xs:element minOccurs="0" name="dateFormStarted" type="xs:boolean" />
          <xs:element minOccurs="0" name="deleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="documentDescription" type="xs:string" />
          <xs:element minOccurs="0" name="documentId" type="xs:int" />
          <xs:element minOccurs="0" name="documentKeyWord" type="xs:string" />
          <xs:element minOccurs="0" name="documentPropertyNumber" type="xs:int" />
          <xs:element minOccurs="0" name="documentPropertyVersion" type="xs:int" />
          <xs:element minOccurs="0" name="documentType" type="xs:string" />
          <xs:element minOccurs="0" name="documentTypeId" type="xs:string" />
          <xs:element minOccurs="0" name="downloadEnabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="draft" type="xs:boolean" />
          <xs:element minOccurs="0" name="expirationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="expiredForm" type="xs:boolean" />
          <xs:element minOccurs="0" name="expires" type="xs:boolean" />
          <xs:element minOccurs="0" name="externalDocumentId" type="xs:string" />
          <xs:element minOccurs="0" name="favorite" type="xs:boolean" />
          <xs:element minOccurs="0" name="folderId" type="xs:int" />
          <xs:element name="forAproval" type="xs:boolean" />
          <xs:element minOccurs="0" name="iconId" type="xs:int" />
          <xs:element minOccurs="0" name="iconPath" type="xs:string" />
          <xs:element minOccurs="0" name="imutable" type="xs:boolean" />
          <xs:element minOccurs="0" name="indexed" type="xs:boolean" />
          <xs:element name="inheritSecurity" type="xs:boolean" />
          <xs:element minOccurs="0" name="internalVisualizer" type="xs:boolean" />
          <xs:element minOccurs="0" name="isEncrypted" type="xs:boolean" />
          <xs:element minOccurs="0" name="keyWord" type="xs:string" />
          <xs:element minOccurs="0" name="languageId" type="xs:string" />
          <xs:element minOccurs="0" name="languageIndicator" type="xs:string" />
          <xs:element minOccurs="0" name="lastModifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastModifiedTime" type="xs:string" />
          <xs:element minOccurs="0" name="metaListId" type="xs:int" />
          <xs:element minOccurs="0" name="metaListRecordId" type="xs:int" />
          <xs:element minOccurs="0" name="newStructure" type="xs:boolean" />
          <xs:element name="onCheckout" type="xs:boolean" />
          <xs:element minOccurs="0" name="parentDocumentId" type="xs:int" />
          <xs:element minOccurs="0" name="permissionType" type="xs:int" />
          <xs:element minOccurs="0" name="phisicalFile" type="xs:string" />
          <xs:element minOccurs="0" name="phisicalFileSize" type="xs:float" />
          <xs:element minOccurs="0" name="priority" type="xs:int" />
          <xs:element minOccurs="0" name="privateColleagueId" type="xs:string" />
          <xs:element minOccurs="0" name="privateDocument" type="xs:boolean" />
          <xs:element minOccurs="0" name="protectedCopy" type="xs:boolean" />
          <xs:element minOccurs="0" name="publisherId" type="xs:string" />
          <xs:element minOccurs="0" name="publisherName" type="xs:string" />
          <xs:element minOccurs="0" name="relatedFiles" type="xs:string" />
          <xs:element minOccurs="0" name="restrictionType" type="xs:int" />
          <xs:element name="rowId" type="xs:int" />
          <xs:element minOccurs="0" name="searchNumber" type="xs:int" />
          <xs:element name="securityLevel" type="xs:int" />
          <xs:element minOccurs="0" name="siteCode" type="xs:string" />
          <xs:element minOccurs="0" name="sociableDocumentDto" type="tns:sociableDocumentDto" />
          <xs:element minOccurs="0" name="tool" type="xs:boolean" />
          <xs:element minOccurs="0" name="topicId" type="xs:int" />
          <xs:element name="translated" type="xs:boolean" />
          <xs:element minOccurs="0" name="UUID" type="xs:string" />
          <xs:element name="updateIsoProperties" type="xs:boolean" />
          <xs:element minOccurs="0" name="userAnswerForm" type="xs:boolean" />
          <xs:element minOccurs="0" name="userNotify" type="xs:boolean" />
          <xs:element minOccurs="0" name="userPermission" type="xs:int" />
          <xs:element minOccurs="0" name="validationStartDate" type="xs:dateTime" />
          <xs:element name="version" type="xs:int" />
          <xs:element minOccurs="0" name="versionDescription" type="xs:string" />
          <xs:element minOccurs="0" name="versionOption" type="xs:string" />
          <xs:element minOccurs="0" name="visualization" type="xs:string" />
          <xs:element minOccurs="0" name="volumeId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sociableDocumentDto">
        <xs:sequence>
          <xs:element name="commented" type="xs:boolean" />
          <xs:element name="denounced" type="xs:boolean" />
          <xs:element minOccurs="0" name="documentId" type="xs:int" />
          <xs:element name="following" type="xs:boolean" />
          <xs:element name="liked" type="xs:boolean" />
          <xs:element minOccurs="0" name="numberComments" type="xs:int" />
          <xs:element minOccurs="0" name="numberDenouncements" type="xs:int" />
          <xs:element minOccurs="0" name="numberFollows" type="xs:int" />
          <xs:element minOccurs="0" name="numberLikes" type="xs:int" />
          <xs:element minOccurs="0" name="numberShares" type="xs:int" />
          <xs:element name="shared" type="xs:boolean" />
          <xs:element minOccurs="0" name="sociableId" type="xs:long" />
          <xs:element minOccurs="0" name="version" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="attachment">
        <xs:sequence>
          <xs:element minOccurs="0" name="attach" type="xs:boolean" />
          <xs:element minOccurs="0" name="descriptor" type="xs:boolean" />
          <xs:element minOccurs="0" name="editing" type="xs:boolean" />
          <xs:element minOccurs="0" name="fileName" type="xs:string" />
          <xs:element minOccurs="0" name="fileSelected" type="tns:attachment" />
          <xs:element name="fileSize" type="xs:long" />
          <xs:element minOccurs="0" name="filecontent" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="fullPatch" type="xs:string" />
          <xs:element minOccurs="0" name="iconPath" type="xs:string" />
          <xs:element minOccurs="0" name="mobile" type="xs:boolean" />
          <xs:element minOccurs="0" name="pathName" type="xs:string" />
          <xs:element minOccurs="0" name="principal" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="documentSecurityConfigDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="attributionType" type="xs:int" />
          <xs:element minOccurs="0" name="attributionValue" type="xs:string" />
          <xs:element name="companyId" type="xs:long" />
          <xs:element name="documentId" type="xs:int" />
          <xs:element minOccurs="0" name="downloadEnabled" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="foo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="permission" type="xs:boolean" />
          <xs:element minOccurs="0" name="securityLevel" type="xs:int" />
          <xs:element minOccurs="0" name="securityVersion" type="xs:boolean" />
          <xs:element name="sequence" type="xs:int" />
          <xs:element minOccurs="0" name="showContent" type="xs:boolean" />
          <xs:element name="version" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="approverDto">
        <xs:sequence>
          <xs:element name="approverType" type="xs:int" />
          <xs:element minOccurs="0" name="colleagueId" type="xs:string" />
          <xs:element name="companyId" type="xs:long" />
          <xs:element name="documentId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="foo" nillable="true" type="xs:string" />
          <xs:element name="levelId" type="xs:int" />
          <xs:element name="version" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="relatedDocumentDto">
        <xs:sequence>
          <xs:element name="companyId" type="xs:long" />
          <xs:element name="documentId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="foo" nillable="true" type="xs:string" />
          <xs:element name="relatedDocumentId" type="xs:int" />
          <xs:element name="version" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="webServiceMessage">
        <xs:sequence>
          <xs:element name="companyId" type="xs:long" />
          <xs:element minOccurs="0" name="documentDescription" type="xs:string" />
          <xs:element name="documentId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="foo" nillable="true" type="xs:string" />
          <xs:element name="version" type="xs:int" />
          <xs:element minOccurs="0" name="webServiceMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="approverWithLevelDto">
        <xs:sequence>
          <xs:element name="approverType" type="xs:int" />
          <xs:element minOccurs="0" name="colleagueId" type="xs:string" />
          <xs:element name="companyId" type="xs:long" />
          <xs:element name="documentId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="foo" nillable="true" type="xs:string" />
          <xs:element name="levelId" type="xs:int" />
          <xs:element name="version" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="approvalLevelDto">
        <xs:sequence>
          <xs:element name="approvalMode" type="xs:int" />
          <xs:element minOccurs="0" name="levelDescription" type="xs:string" />
          <xs:element name="levelId" type="xs:int" />
          <xs:element name="mandatorySignature" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="documentApprovementHistoryDtoArray" final="#all">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:documentApprovementHistoryDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="documentApprovalStatusDtoArray" final="#all">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:documentApprovalStatusDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="documentDtoArray" final="#all">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:documentDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="attachmentArray" final="#all">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:attachment" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="documentSecurityConfigDtoArray" final="#all">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:documentSecurityConfigDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="approverDtoArray" final="#all">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:approverDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="relatedDocumentDtoArray" final="#all">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:relatedDocumentDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="webServiceMessageArray" final="#all">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:webServiceMessage" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="approverWithLevelDtoArray" final="#all">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:approverWithLevelDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="approvalLevelDtoArray" final="#all">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:approvalLevelDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Exception" type="tns:Exception" />
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://jaxb.dev.java.net/array" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="intArray" final="#all">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stringArray" final="#all">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getRelatedDocuments">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="documentId" type="xsd:int" />
    <wsdl:part name="version" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="createDocumentResponse">
    <wsdl:part name="result" type="tns:webServiceMessageArray" />
  </wsdl:message>
  <wsdl:message name="getActiveDocumentResponse">
    <wsdl:part name="folder" type="tns:documentDtoArray" />
  </wsdl:message>
  <wsdl:message name="getDocumentApprovalStatus">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="documentId" type="xsd:int" />
    <wsdl:part name="version" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getReportSubjectIdResponse">
    <wsdl:part name="topicId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getActiveDocument">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="documentId" type="xsd:int" />
    <wsdl:part name="colleagueId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="deleteDocument">
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="documentId" type="xsd:int" />
    <wsdl:part name="colleagueId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getRelatedDocumentsResponse">
    <wsdl:part name="RelatedDocuments" type="tns:relatedDocumentDtoArray" />
  </wsdl:message>
  <wsdl:message name="copyDocumentToUploadAreaResponse">
    <wsdl:part name="result" type="ns1:stringArray" />
  </wsdl:message>
  <wsdl:message name="getDocumentContent">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="documentId" type="xsd:int" />
    <wsdl:part name="colleagueId" type="xsd:string" />
    <wsdl:part name="documentoVersao" type="xsd:int" />
    <wsdl:part name="nomeArquivo" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getDocumentVersion">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="documentId" type="xsd:int" />
    <wsdl:part name="version" type="xsd:int" />
    <wsdl:part name="colleagueId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateDocumentWithApprovementLevelsResponse">
    <wsdl:part name="result" type="tns:webServiceMessageArray" />
  </wsdl:message>
  <wsdl:message name="removeSecurityResponse" />
  <wsdl:message name="createDocumentWithApprovementLevels">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="Document" type="tns:documentDtoArray" />
    <wsdl:part name="Attachments" type="tns:attachmentArray" />
    <wsdl:part name="security" type="tns:documentSecurityConfigDtoArray" />
    <wsdl:part name="ApproversWithLevels" type="tns:approverWithLevelDtoArray" />
    <wsdl:part name="Levels" type="tns:approvalLevelDtoArray" />
    <wsdl:part name="RelatedDocuments" type="tns:relatedDocumentDtoArray" />
  </wsdl:message>
  <wsdl:message name="updateDocument">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="Document" type="tns:documentDtoArray" />
    <wsdl:part name="Attachments" type="tns:attachmentArray" />
    <wsdl:part name="security" type="tns:documentSecurityConfigDtoArray" />
    <wsdl:part name="Approvers" type="tns:approverDtoArray" />
    <wsdl:part name="RelatedDocuments" type="tns:relatedDocumentDtoArray" />
  </wsdl:message>
  <wsdl:message name="getDocumentApprovalHistory">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="documentId" type="xsd:int" />
    <wsdl:part name="version" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getApproversResponse">
    <wsdl:part name="Approvers" type="tns:approverWithLevelDtoArray" />
  </wsdl:message>
  <wsdl:message name="findRecycledDocumentsResponse">
    <wsdl:part name="result" type="tns:documentDtoArray" />
  </wsdl:message>
  <wsdl:message name="updateSimpleDocument">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="documentId" type="xsd:int" />
    <wsdl:part name="publisherId" type="xsd:string" />
    <wsdl:part name="documentDescription" type="xsd:string" />
    <wsdl:part name="Attachments" type="tns:attachmentArray" />
  </wsdl:message>
  <wsdl:message name="getDocumentByExternalId">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="externalDocumentnId" type="xsd:string" />
    <wsdl:part name="colleagueId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="moveDocumentResponse">
    <wsdl:part name="result" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getDocumentApprovalStatusResponse">
    <wsdl:part name="DocumentApprovalStatusDtos" type="tns:documentApprovalStatusDtoArray" />
  </wsdl:message>
  <wsdl:message name="createSimpleDocumentPrivate">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="parentDocumentId" type="xsd:int" />
    <wsdl:part name="documentDescription" type="xsd:string" />
    <wsdl:part name="Attachments" type="tns:attachmentArray" />
  </wsdl:message>
  <wsdl:message name="updateDocumentConversionStatusResponse">
    <wsdl:part name="result" type="tns:webServiceMessageArray" />
  </wsdl:message>
  <wsdl:message name="updateSimpleDocumentResponse">
    <wsdl:part name="result" type="tns:webServiceMessageArray" />
  </wsdl:message>
  <wsdl:message name="getUserPermissionsResponse">
    <wsdl:part name="result" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="destroyDocument">
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="documentId" type="xsd:int" />
    <wsdl:part name="colleagueId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateGroupSecurityTypeResponse">
    <wsdl:part name="result" type="tns:webServiceMessageArray" />
  </wsdl:message>
  <wsdl:message name="findMostPopularDocumentsResponse">
    <wsdl:part name="result" type="tns:documentDtoArray" />
  </wsdl:message>
  <wsdl:message name="getApprovers">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="documentId" type="xsd:int" />
    <wsdl:part name="version" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getSecurityResponse">
    <wsdl:part name="Security" type="tns:documentSecurityConfigDtoArray" />
  </wsdl:message>
  <wsdl:message name="destroyDocumentResponse">
    <wsdl:part name="result" type="tns:webServiceMessageArray" />
  </wsdl:message>
  <wsdl:message name="getDocumentVersionResponse">
    <wsdl:part name="folder" type="tns:documentDtoArray" />
  </wsdl:message>
  <wsdl:message name="createSimpleDocumentPrivateResponse">
    <wsdl:part name="result" type="tns:webServiceMessageArray" />
  </wsdl:message>
  <wsdl:message name="updateDocumentResponse">
    <wsdl:part name="result" type="tns:webServiceMessageArray" />
  </wsdl:message>
  <wsdl:message name="getDocumentByExternalIdResponse">
    <wsdl:part name="Documents" type="tns:documentDtoArray" />
  </wsdl:message>
  <wsdl:message name="getReportSubjectId">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="updateGroupSecurityType">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="documentId" type="xsd:int" />
    <wsdl:part name="version" type="xsd:int" />
    <wsdl:part name="permissionType" type="xsd:int" />
    <wsdl:part name="restrictionType" type="xsd:int" />
    <wsdl:part name="colleagueId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="validateIntegrationRequirementsResponse">
    <wsdl:part name="result" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getDocumentApprovalHistoryResponse">
    <wsdl:part name="DocumentApprovementHistoryDtos" type="tns:documentApprovementHistoryDtoArray" />
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="restoreDocument">
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="documentId" type="xsd:int" />
    <wsdl:part name="colleagueId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="createSimpleDocumentResponse">
    <wsdl:part name="result" type="tns:webServiceMessageArray" />
  </wsdl:message>
  <wsdl:message name="getSecurity">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="documentId" type="xsd:int" />
    <wsdl:part name="version" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="validateIntegrationRequirements">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="moveDocument">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="documentIds" type="ns1:intArray" />
    <wsdl:part name="colleagueId" type="xsd:string" />
    <wsdl:part name="destFolderId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="destroyDocumentApproval">
    <wsdl:part name="userId" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="documentId" type="xsd:int" />
    <wsdl:part name="publisherId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="createSimpleDocument">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="parentDocumentId" type="xsd:int" />
    <wsdl:part name="publisherId" type="xsd:string" />
    <wsdl:part name="documentDescription" type="xsd:string" />
    <wsdl:part name="Attachments" type="tns:attachmentArray" />
  </wsdl:message>
  <wsdl:message name="createDocument">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="Document" type="tns:documentDtoArray" />
    <wsdl:part name="Attachments" type="tns:attachmentArray" />
    <wsdl:part name="security" type="tns:documentSecurityConfigDtoArray" />
    <wsdl:part name="Approvers" type="tns:approverDtoArray" />
    <wsdl:part name="RelatedDocuments" type="tns:relatedDocumentDtoArray" />
  </wsdl:message>
  <wsdl:message name="destroyDocumentApprovalResponse">
    <wsdl:part name="result" type="tns:webServiceMessageArray" />
  </wsdl:message>
  <wsdl:message name="findMostPopularDocuments">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="colleagueId" type="xsd:string" />
    <wsdl:part name="nrResultados" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="findRecycledDocuments">
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="colleagueId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="findMostPopularDocumentsOnDemand">
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="colleagueId" type="xsd:string" />
    <wsdl:part name="limit" type="xsd:int" />
    <wsdl:part name="lastRowId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getDocumentContentResponse">
    <wsdl:part name="folder" type="xsd:base64Binary" />
  </wsdl:message>
  <wsdl:message name="copyDocumentToUploadArea">
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="documentId" type="xsd:int" />
    <wsdl:part name="version" type="xsd:int" />
    <wsdl:part name="colleagueId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getUserPermissions">
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="documentId" type="xsd:int" />
    <wsdl:part name="version" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="approveDocument">
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="userId" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="documentId" type="xsd:int" />
    <wsdl:part name="version" type="xsd:int" />
    <wsdl:part name="approverId" type="xsd:string" />
    <wsdl:part name="approved" type="xsd:boolean" />
    <wsdl:part name="observation" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="deleteDocumentResponse">
    <wsdl:part name="result" type="tns:webServiceMessageArray" />
  </wsdl:message>
  <wsdl:message name="updateDocumentConversionStatus">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="documentId" type="xsd:int" />
    <wsdl:part name="version" type="xsd:int" />
    <wsdl:part name="status" type="xsd:int" />
    <wsdl:part name="msg" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateDocumentWithApprovementLevels">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="Document" type="tns:documentDtoArray" />
    <wsdl:part name="Attachments" type="tns:attachmentArray" />
    <wsdl:part name="security" type="tns:documentSecurityConfigDtoArray" />
    <wsdl:part name="ApproversWithLevels" type="tns:approverWithLevelDtoArray" />
    <wsdl:part name="Levels" type="tns:approvalLevelDtoArray" />
    <wsdl:part name="RelatedDocuments" type="tns:relatedDocumentDtoArray" />
  </wsdl:message>
  <wsdl:message name="approveDocumentResponse">
    <wsdl:part name="result" type="tns:webServiceMessageArray" />
  </wsdl:message>
  <wsdl:message name="restoreDocumentResponse">
    <wsdl:part name="result" type="tns:webServiceMessageArray" />
  </wsdl:message>
  <wsdl:message name="findMostPopularDocumentsOnDemandResponse">
    <wsdl:part name="result" type="tns:documentDtoArray" />
  </wsdl:message>
  <wsdl:message name="createDocumentWithApprovementLevelsResponse">
    <wsdl:part name="result" type="tns:webServiceMessageArray" />
  </wsdl:message>
  <wsdl:message name="removeSecurity">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="companyId" type="xsd:int" />
    <wsdl:part name="documentId" type="xsd:int" />
    <wsdl:part name="version" type="xsd:int" />
  </wsdl:message>
  <wsdl:portType name="DocumentService">
    <wsdl:operation name="getDocumentApprovalHistory">
      <wsdl:input name="getDocumentApprovalHistory" message="tns:getDocumentApprovalHistory" />
      <wsdl:output name="getDocumentApprovalHistoryResponse" message="tns:getDocumentApprovalHistoryResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="getDocumentApprovalStatus">
      <wsdl:input name="getDocumentApprovalStatus" message="tns:getDocumentApprovalStatus" />
      <wsdl:output name="getDocumentApprovalStatusResponse" message="tns:getDocumentApprovalStatusResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="createDocument">
      <wsdl:input name="createDocument" message="tns:createDocument" />
      <wsdl:output name="createDocumentResponse" message="tns:createDocumentResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="restoreDocument">
      <wsdl:input name="restoreDocument" message="tns:restoreDocument" />
      <wsdl:output name="restoreDocumentResponse" message="tns:restoreDocumentResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="getDocumentContent">
      <wsdl:input name="getDocumentContent" message="tns:getDocumentContent" />
      <wsdl:output name="getDocumentContentResponse" message="tns:getDocumentContentResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="approveDocument">
      <wsdl:input name="approveDocument" message="tns:approveDocument" />
      <wsdl:output name="approveDocumentResponse" message="tns:approveDocumentResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="getDocumentVersion">
      <wsdl:input name="getDocumentVersion" message="tns:getDocumentVersion" />
      <wsdl:output name="getDocumentVersionResponse" message="tns:getDocumentVersionResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="destroyDocument">
      <wsdl:input name="destroyDocument" message="tns:destroyDocument" />
      <wsdl:output name="destroyDocumentResponse" message="tns:destroyDocumentResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="validateIntegrationRequirements">
      <wsdl:input name="validateIntegrationRequirements" message="tns:validateIntegrationRequirements" />
      <wsdl:output name="validateIntegrationRequirementsResponse" message="tns:validateIntegrationRequirementsResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="getUserPermissions">
      <wsdl:input name="getUserPermissions" message="tns:getUserPermissions" />
      <wsdl:output name="getUserPermissionsResponse" message="tns:getUserPermissionsResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="updateDocumentConversionStatus">
      <wsdl:input name="updateDocumentConversionStatus" message="tns:updateDocumentConversionStatus" />
      <wsdl:output name="updateDocumentConversionStatusResponse" message="tns:updateDocumentConversionStatusResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="getApprovers">
      <wsdl:input name="getApprovers" message="tns:getApprovers" />
      <wsdl:output name="getApproversResponse" message="tns:getApproversResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="findRecycledDocuments">
      <wsdl:input name="findRecycledDocuments" message="tns:findRecycledDocuments" />
      <wsdl:output name="findRecycledDocumentsResponse" message="tns:findRecycledDocumentsResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="updateSimpleDocument">
      <wsdl:input name="updateSimpleDocument" message="tns:updateSimpleDocument" />
      <wsdl:output name="updateSimpleDocumentResponse" message="tns:updateSimpleDocumentResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="destroyDocumentApproval">
      <wsdl:input name="destroyDocumentApproval" message="tns:destroyDocumentApproval" />
      <wsdl:output name="destroyDocumentApprovalResponse" message="tns:destroyDocumentApprovalResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="moveDocument">
      <wsdl:input name="moveDocument" message="tns:moveDocument" />
      <wsdl:output name="moveDocumentResponse" message="tns:moveDocumentResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="createSimpleDocument">
      <wsdl:input name="createSimpleDocument" message="tns:createSimpleDocument" />
      <wsdl:output name="createSimpleDocumentResponse" message="tns:createSimpleDocumentResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="updateDocument">
      <wsdl:input name="updateDocument" message="tns:updateDocument" />
      <wsdl:output name="updateDocumentResponse" message="tns:updateDocumentResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="getSecurity">
      <wsdl:input name="getSecurity" message="tns:getSecurity" />
      <wsdl:output name="getSecurityResponse" message="tns:getSecurityResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="getRelatedDocuments">
      <wsdl:input name="getRelatedDocuments" message="tns:getRelatedDocuments" />
      <wsdl:output name="getRelatedDocumentsResponse" message="tns:getRelatedDocumentsResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="getDocumentByExternalId">
      <wsdl:input name="getDocumentByExternalId" message="tns:getDocumentByExternalId" />
      <wsdl:output name="getDocumentByExternalIdResponse" message="tns:getDocumentByExternalIdResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="copyDocumentToUploadArea">
      <wsdl:input name="copyDocumentToUploadArea" message="tns:copyDocumentToUploadArea" />
      <wsdl:output name="copyDocumentToUploadAreaResponse" message="tns:copyDocumentToUploadAreaResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="getReportSubjectId">
      <wsdl:input name="getReportSubjectId" message="tns:getReportSubjectId" />
      <wsdl:output name="getReportSubjectIdResponse" message="tns:getReportSubjectIdResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="updateGroupSecurityType">
      <wsdl:input name="updateGroupSecurityType" message="tns:updateGroupSecurityType" />
      <wsdl:output name="updateGroupSecurityTypeResponse" message="tns:updateGroupSecurityTypeResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="updateDocumentWithApprovementLevels">
      <wsdl:input name="updateDocumentWithApprovementLevels" message="tns:updateDocumentWithApprovementLevels" />
      <wsdl:output name="updateDocumentWithApprovementLevelsResponse" message="tns:updateDocumentWithApprovementLevelsResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="findMostPopularDocuments">
      <wsdl:input name="findMostPopularDocuments" message="tns:findMostPopularDocuments" />
      <wsdl:output name="findMostPopularDocumentsResponse" message="tns:findMostPopularDocumentsResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="deleteDocument">
      <wsdl:input name="deleteDocument" message="tns:deleteDocument" />
      <wsdl:output name="deleteDocumentResponse" message="tns:deleteDocumentResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="createSimpleDocumentPrivate">
      <wsdl:input name="createSimpleDocumentPrivate" message="tns:createSimpleDocumentPrivate" />
      <wsdl:output name="createSimpleDocumentPrivateResponse" message="tns:createSimpleDocumentPrivateResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="findMostPopularDocumentsOnDemand">
      <wsdl:input name="findMostPopularDocumentsOnDemand" message="tns:findMostPopularDocumentsOnDemand" />
      <wsdl:output name="findMostPopularDocumentsOnDemandResponse" message="tns:findMostPopularDocumentsOnDemandResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="removeSecurity">
      <wsdl:input name="removeSecurity" message="tns:removeSecurity" />
      <wsdl:output name="removeSecurityResponse" message="tns:removeSecurityResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="createDocumentWithApprovementLevels">
      <wsdl:input name="createDocumentWithApprovementLevels" message="tns:createDocumentWithApprovementLevels" />
      <wsdl:output name="createDocumentWithApprovementLevelsResponse" message="tns:createDocumentWithApprovementLevelsResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="getActiveDocument">
      <wsdl:input name="getActiveDocument" message="tns:getActiveDocument" />
      <wsdl:output name="getActiveDocumentResponse" message="tns:getActiveDocumentResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocumentServiceServiceSoapBinding" type="tns:DocumentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getDocumentApprovalHistory">
      <soap:operation soapAction="getDocumentApprovalHistory" style="rpc" />
      <wsdl:input name="getDocumentApprovalHistory">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="getDocumentApprovalHistoryResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createDocument">
      <soap:operation soapAction="createDocument" style="rpc" />
      <wsdl:input name="createDocument">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="createDocumentResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDocumentApprovalStatus">
      <soap:operation soapAction="getDocumentApprovalStatus" style="rpc" />
      <wsdl:input name="getDocumentApprovalStatus">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="getDocumentApprovalStatusResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="restoreDocument">
      <soap:operation soapAction="restoreDocument" style="rpc" />
      <wsdl:input name="restoreDocument">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="restoreDocumentResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDocumentContent">
      <soap:operation soapAction="getDocumentContent" style="rpc" />
      <wsdl:input name="getDocumentContent">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="getDocumentContentResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="approveDocument">
      <soap:operation soapAction="approveDocument" style="rpc" />
      <wsdl:input name="approveDocument">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="approveDocumentResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDocumentVersion">
      <soap:operation soapAction="getDocumentVersion" style="rpc" />
      <wsdl:input name="getDocumentVersion">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="getDocumentVersionResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="destroyDocument">
      <soap:operation soapAction="destroyDocument" style="rpc" />
      <wsdl:input name="destroyDocument">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="destroyDocumentResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserPermissions">
      <soap:operation soapAction="getUserPermissions" style="rpc" />
      <wsdl:input name="getUserPermissions">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="getUserPermissionsResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateIntegrationRequirements">
      <soap:operation soapAction="validateIntegrationRequirements" style="rpc" />
      <wsdl:input name="validateIntegrationRequirements">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="validateIntegrationRequirementsResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateDocumentConversionStatus">
      <soap:operation soapAction="updateDocumentConversionStatus" style="rpc" />
      <wsdl:input name="updateDocumentConversionStatus">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="updateDocumentConversionStatusResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getApprovers">
      <soap:operation soapAction="getApprovers" style="rpc" />
      <wsdl:input name="getApprovers">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="getApproversResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findRecycledDocuments">
      <soap:operation soapAction="findRecycledDocuments" style="rpc" />
      <wsdl:input name="findRecycledDocuments">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="findRecycledDocumentsResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateSimpleDocument">
      <soap:operation soapAction="updateSimpleDocument" style="rpc" />
      <wsdl:input name="updateSimpleDocument">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="updateSimpleDocumentResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="destroyDocumentApproval">
      <soap:operation soapAction="destroyDocumentApproval" style="rpc" />
      <wsdl:input name="destroyDocumentApproval">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="destroyDocumentApprovalResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="moveDocument">
      <soap:operation soapAction="moveDocument" style="rpc" />
      <wsdl:input name="moveDocument">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="moveDocumentResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createSimpleDocument">
      <soap:operation soapAction="createSimpleDocument" style="rpc" />
      <wsdl:input name="createSimpleDocument">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="createSimpleDocumentResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateDocument">
      <soap:operation soapAction="updateDocument" style="rpc" />
      <wsdl:input name="updateDocument">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="updateDocumentResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSecurity">
      <soap:operation soapAction="getSecurity" style="rpc" />
      <wsdl:input name="getSecurity">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="getSecurityResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRelatedDocuments">
      <soap:operation soapAction="getRelatedDocuments" style="rpc" />
      <wsdl:input name="getRelatedDocuments">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="getRelatedDocumentsResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDocumentByExternalId">
      <soap:operation soapAction="getDocumentByExternalId" style="rpc" />
      <wsdl:input name="getDocumentByExternalId">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="getDocumentByExternalIdResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="copyDocumentToUploadArea">
      <soap:operation soapAction="copyDocumentToUploadArea" style="rpc" />
      <wsdl:input name="copyDocumentToUploadArea">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="copyDocumentToUploadAreaResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getReportSubjectId">
      <soap:operation soapAction="getReportSubject" style="rpc" />
      <wsdl:input name="getReportSubjectId">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="getReportSubjectIdResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteDocument">
      <soap:operation soapAction="deleteDocument" style="rpc" />
      <wsdl:input name="deleteDocument">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="deleteDocumentResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findMostPopularDocuments">
      <soap:operation soapAction="findMostPopularDocuments" style="rpc" />
      <wsdl:input name="findMostPopularDocuments">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="findMostPopularDocumentsResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateDocumentWithApprovementLevels">
      <soap:operation soapAction="updateDocumentWithApprovementLevels" style="rpc" />
      <wsdl:input name="updateDocumentWithApprovementLevels">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="updateDocumentWithApprovementLevelsResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateGroupSecurityType">
      <soap:operation soapAction="updateGroupSecurityType" style="rpc" />
      <wsdl:input name="updateGroupSecurityType">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="updateGroupSecurityTypeResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createSimpleDocumentPrivate">
      <soap:operation soapAction="createSimpleDocumentPrivate" style="rpc" />
      <wsdl:input name="createSimpleDocumentPrivate">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="createSimpleDocumentPrivateResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findMostPopularDocumentsOnDemand">
      <soap:operation soapAction="findMostPopularDocumentsOnDemand" style="rpc" />
      <wsdl:input name="findMostPopularDocumentsOnDemand">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="findMostPopularDocumentsOnDemandResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createDocumentWithApprovementLevels">
      <soap:operation soapAction="createDocumentWithApprovementLevels" style="rpc" />
      <wsdl:input name="createDocumentWithApprovementLevels">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="createDocumentWithApprovementLevelsResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeSecurity">
      <soap:operation soapAction="removeSecurity" style="rpc" />
      <wsdl:input name="removeSecurity">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="removeSecurityResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getActiveDocument">
      <soap:operation soapAction="getActiveDocument" style="rpc" />
      <wsdl:input name="getActiveDocument">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:input>
      <wsdl:output name="getActiveDocumentResponse">
        <soap:body use="literal" namespace="http://ws.dm.webdesk.technology.datasul.com/" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentServiceService">
    <wsdl:port name="DocumentServicePort" binding="tns:DocumentServiceServiceSoapBinding">
      <soap:address location="http://localhost:8080/webdesk/DocumentService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>